.inputTotal{
  font-size: 1.8em;
  font-weight: 500;
  background-color: #f1f3f6;
  padding: 10px;
}
.text-input-md{
  text-align: center;
}
.text-input[disabled] {
    opacity: 1 !important;
}
.button-green {
    color: #000;
    background-color: #31A954;
}
.button-red {
    color: #000;
    background-color: #E22418;
}
.button-yellow {
    color: #000;
    background-color: #FDED04;
}
.btnPayment button{
  font-size: 1.0em;
  font-weight: 500;
}
.btnTeclado {
  color: #1e1e1e;
  background-color: #c3c6cb;
  font-weight: 900;
  font-size: 1.6em;
}
page-principal,
.checkout-trip {

  .trip-info {
    .trip-image {
      width: 100%;
      height: 120px;
      background-size: 100% auto;
      background-position: center;
      border-radius: 1rem 1rem 0 0;
    }

    .trip-features {
      ion-icon {
        min-width: 1.5rem;
        text-align: center;
      }
    }
  }

  .item.no-border .item-inner {
    padding-right: 0;
    [item-end] {
      margin: 0;
    }
  }

}
